/* html {
box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
} */



body {
  font-family: "Roboto", sans-serif;
  background-color:#FFFFFF
  color: #434455;
}

/* navigation */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none; 
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-page {
  color: #2e2f42;
}

.header-list {
  list-style: none;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.page-heder {
  background-color: #FFFFFF;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1176px;
}

/* contacts */

.header-adress {
  font-style: normal;
}

.header-adress-list {
  list-style: none;
}

.header-adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* interface */

.interface-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.interface-button:hover,
.interface-button:focus {
  color: var(--brand-color);
  background-color: #404bbf;
  cursor: pointer;
}

.interface-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.interface-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 margin-top: 0;
  margin-bottom: 120px;
}

/* footer */

.footer {
  background-color: #2e2f42;
}


.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.box-footer {
  margin-top: 0;
  margin-bottom: 16px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  margin-top: 0;
  padding-bottom: 100px;
}

/* main page  */

/* herou */

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 48px;
  
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4d5ae5; 
  border-radius: 4px;
  padding: 16px 32px;
  display: inline-block;
  min-width: 169px;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 188px;
}


 
.hero-button:hover,
.hero-button:focus {
  color: var(--brand-color);
  background-color: #404bbf;
  cursor: pointer;
}


/* strategy */

.strategy-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 8px;
}

/* services */

.services-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 72px;
}

.services-line {
  background-color:var(--brand-color);
}

/* team */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-top: 120px;
  margin-bottom: 72px;
}

.image-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 32px;
}

.team-line {
  background-color: var(--brand-color);
  margin-top: 0;
  margin-bottom: 8px;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 0;
  margin-bottom: 152px;
}

:root {
  --brand-color:#ffffff;
}
